<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidcomicreader">
    <!-- <uses-permission android:name="android.permission.INTERNET"/> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Admin_mCategory_Delete"
            android:exported="false" />
        <activity
            android:name=".Admin_mCategory_Add"
            android:exported="false" />
        <activity
            android:name=".Admin_mCategory_Update"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Admin_Link_Delete"
            android:exported="false" />
        <activity
            android:name=".Admin_Link_Add"
            android:exported="false" />
        <activity
            android:name=".Admin_Link_Update"
            android:exported="false" />
        <activity
            android:name=".Admin_Chapter_Delete"
            android:exported="false" />
        <activity
            android:name=".testUploadImg"
            android:exported="false" />
        <activity
            android:name=".Admin_Chapter_Update"
            android:exported="false" />
        <activity
            android:name=".Admin_Chapter_Add"
            android:exported="false" />
        <activity
            android:name=".Admin_Manga_Update"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_Manga_Add"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".Login_Registers" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".CategoryFilter"
            android:exported="false" />
        <activity
            android:name=".ViewDetail"
            android:exported="false" />
        <activity
            android:name=".ChapterActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_Manga_Delete"
            android:exported="false" />
        <activity
            android:name=".Login_Register"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>